@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:'Gilroy';
    font-family: 'Gilroy-bold';
    src: local('Gilroy'), url("./fonts/Gilroy-Regular.ttf") format("truetype");
    src: local('Gilroy-bold'), url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

.heroSection{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.textsHero p{
    color: #ccc;
}


.heroDiv h1{
    font-family: 'Gilroy-bold', sans-serif;
}

.globalDiv{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.funcDiv{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    font-family: 'Gilroy-bold', sans-serif;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
    color: blueviolet!important;
}


.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root{
    color: white!important;
    
}

